$primary-background-color: #FF8340;
$hover-button-color: #333333;
$primary-font-color: #292929;
$primary-font1: 'Roboto';
$primary-font2: 'Arial';

.contact{
  width: 100%;
  height: 978px;
  background-color: $primary-background-color;
  display: flex; 
  justify-content: center;

  @media screen and (max-width: 1400px) {
    padding: 0, 32px;
    height: 781px;
  }

  @media screen and (max-width: 952px) {
    padding: 0, 32px;
    height: 781px;
  }

  &__wrapper{
    width: 100%; 
    max-width: 1400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .contact__title{
      margin-top: 40px;
      width: max-content;
      font-size: clamp(14px, 10vw, 45px);
      font-family: $primary-font2;
      font-weight: 900;
      color: $primary-font-color;
      line-height: 160px;
      margin-bottom: 35px;

      @media screen and (max-width: 1400px) {
        margin-top: 32px;
        width: max-content;
        font-size: clamp(14px, 10vw, 32px);
        font-family: $primary-font2;
        font-weight: 900;
        color: $primary-font-color;
        line-height: 45px;
        margin-bottom: 35px;
      }

      @media screen and (max-width: 952px) {
        margin-top: 32px;
        width: max-content;
        font-size: clamp(14px, 10vw, 32px);
        font-family: $primary-font2;
        font-weight: 900;
        color: $primary-font-color;
        line-height: 45px;
        margin-bottom: 35px;
      }
    }  

    &::after {
      content: '';
      position: absolute;
      top: 170px;
      left: 50%;
      transform: translateX(-50%);
      width: 64px;
      height: 6px;
      background-color: $primary-font-color;

      @media screen and (max-width: 1400px) {
        top: 90px;
        left: 50%;
      }

      @media screen and (max-width: 952px) {
        top: 90px;
        left: 50%;
      }
    }

    .contact__text{
      height: 92px;
      width: 1400px;
      margin-bottom: 50px;
      font-family: $primary-font1;
      font-weight: 500;
      font-size: 20px;
      color: $primary-font-color;
      letter-spacing: 5%;
      line-height: 24px;

      @media screen and (max-width: 1400px) {
        width: auto;
        font-size: clamp(14px, 10vw, 20px);
        margin-left: 32px;
        margin-right: 32px;
        overflow-wrap: break-word;
        line-height: 23px;
      }

      @media screen and (max-width: 952px) {
        width: auto;
        font-size: clamp(14px, 10vw, 20px);
        margin-left: 32px;
        margin-right: 32px;
        overflow-wrap: break-word;
        line-height: 23px;
      }
    }

    .contact__input-container {
      width: 100%;
      margin-bottom: 43px;
      display: flex;
      justify-content: center;
      gap: 40px;

      /* Стили для селекта */
        select {
          width: 100%;
          font-size: 20px;
          font-family: $primary-font1;
          color: #B0B0B0;
          background-color: #292929;
          padding: 10px;
          box-sizing: border-box;
          appearance: none;
          background-image: url('/Img/arrow-down.svg');
          background-repeat: no-repeat;
          background-position: right center;
          background-size: 40px;
          position: relative;
        }

        select:focus{
          border: 2px solid #ffffff;
          outline: none; 
          border-radius: 0;
        }

        select option {
          font-size: 20px;
          font-family: $primary-font1;
          color: #B0B0B0;
          margin-bottom: 16px; 
        }

        /* Стили для текстовых полей */
        input[type="text"], 
        textarea {
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          border: 2px solid #CFCFCD;
          font-size: 20px;
        }

        /* Стили для плейсхолдеров */
        input::placeholder, 
        textarea::placeholder {
          font-size: 20px;
          font-family: $primary-font1;
          color: #B0B0B0;
        }

        /* Стили для текстовых полей при фокусе */
        input[type="text"]:focus, 
        textarea:focus {
          border: 2px solid #292929;
          outline: none; /* Убираем обводку при фокусе */
          border-radius: 0; 
        }

        @media screen and (max-width: 1400px) {
          width: 100%;
          padding: 0 32px;
        }
  
        @media screen and (max-width: 952px) {
          width: 100%;
          padding: 0 32px;
        }
    }

    .contact__button{
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      
      &-btn{
        color: $primary-font-color;
        background-color: $primary-background-color;
        font-family: $primary-font1;
        width: 233px;
        font-size: 20px;
        padding: 8px 24px;
        border: none;
        cursor: pointer;    
      }

      &-btn:hover {
        color: #ffffff;
        background-color: $hover-button-color;
      }
      
      @media screen and (max-width: 1400px) {
        width: 100%;
        padding: 0 32px;
      }

      @media screen and (max-width: 952px) {
        width: 100%;
        padding: 0 32px;
      }
    }
  }
  
}